<%- include('../partials/header') %>





<table id="list">
  <thead>
    <tr>
      <th>Day</th>
      <th>achievements</th>
      <th>mood</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% entries.forEach(function(entry) { %>
      <tr>
        <td><%= entry.date %></td>
        <td><%= entry.achievements %></td>
        <td><a href="/entries/<%= entry._id %>">Exercise DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>