<%- include('../partials/header') %>

  <h3>
    <br><br>Update Your Journal
  </h3>

  <form id="add-review-form" method="POST" action="/entries">
    <input type="hidden" value="<%= year %>" name="year" />
    <input type="hidden" value="<%= month %>" name="month" />

    <label>Day:</label>
    <div>
      <select name="day">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    </div>

    <label>Exercises:</label>
    <select name="exercise">
      <%- exercises.map(e=>
        `<option value="${e._id}">${e.exercise}</option>`
        ).join('') %>
    </select>

    <label>Mood Level</label>
    <select name="mood">
      <option value="Happy">Happy</option>
      <option value="Angry">Angry</option>
      <option value="Tired" selected>Tired</option>
      <option value="Energized">Energized</option>
      <option value="Motivated">Motivated</option>
      <option value="Frustration">Frustration</option>
      <option value="Introspection">Introspection</option>
    </select>
    <label>NOTES/REPS:</label>
    <textarea name="notes"></textarea>
    <input type="submit" value="Add To Log">
  </form>

  <h2>
    <a href="/entries?year=<%= year %>&month=<%= month - 1 %>">◀</a>
    &nbsp;&nbsp;<%= monthNames[month] %>, <%= year %>&nbsp;&nbsp;
        <a href="/entries?year=<%= year %>&month=<%= month + 1 %>">▶</a>
  </h2>

  <% if (entries) { %>
    <table id="list">
      <thead>
        <tr>
          <th>Day</th>
          <th>Exercise</th>
          <th>Mood</th>
          <th>Notes/Reps</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% entries.forEach(function(entry) { %>
          <tr>
            <td>
              <%= entry.date.toLocaleDateString() %>
            </td>
            <td>
              <%= entry.exercise.exercise %>
            </td>
            <td>
              <%= entry.mood %>
            </td>
            <td>
              <%= entry.notes %>
            </td>
            <td>
              <a href="/entries/<%= entry._id %>/edit">EDIT</a>
              <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST" class="delete-form">
                <button type="submit">DELETE</button>
              </form>
            </td>
          </tr>
          <% }); %>
            <% } else { %>
              <h4>Nothing logged yet</h4>
              <% } %>
      </tbody>
    </table>

    <%- include('../partials/footer') %>