<%- include('../partials/header') %>

  <h2>
    <a href="/entries?year=<%= year %>&month=<%= month - 1 %>">◀</a>
    <%= monthNames[month] %>, <%= year %>
        <a href="/entries?year=<%= year %>&month=<%= month + 1 %>">▶</a>
  </h2>
<h3>
  <br><br>Update your journal here
</h3>
  <form id="add-review-form" method="POST"
    action="/entries/<%= entries._id %>/entries">
    <label>Exercises:</label>
    <textarea name="content">
    </textarea>
    <select name="Mood level">
      <option value="happy">happy</option>
      <option value="angry">angry</option>
      <option value="tired" selected>tired</option>
    </select>
    <input type="submit" value="Add To Log">
  </form>



<% if (entries.exercises) { %>
  <table id="list">
    <thead>
      <tr>
        <th>Day</th>
        <th>achievements</th>
        <th>mood</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% entries.forEach(function(entry) { %>
        <tr>
          <td>
            <%= entry.date %>
          </td>
          <td>
            <%= entry.achievements %>
          </td>
          <td><a href="/entries/<%= entry._id %>">Exercise DETAILS</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h4>Nothing logged yet</h4>
    <% } %>
  <%- include('../partials/footer') %>